*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:white;
}
.container{
    width: 350px;
    /* height: 400px; */
    background: #000;
    position: absolute;
    top: 15%;
    left:30%;
    border-radius: 15px;
}
.inputvalue{
    display: flex;
    margin: 5px;
    margin-bottom: 60px;   
}
.inputVal{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    margin-right: 5px;  
    /* border: 2px solid rgb(69, 5, 187);  */
}
.btn{
    width: 100px;
    background: #097d56;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    outline-style: none;
    border-radius: 5px;
    box-shadow: 1px 1px #03110c;   
}
.todoList{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    background: #ffffff;
    padding: 5px;
    border-bottom: 1px solid gray;
    border-radius: 5px;
    height: 40px;
   font-weight: bold;
   flex-wrap: wrap;
   width: 325px;
}
.todoList:last-child{
    margin-bottom: 56px;
}
 .deleteTask{
    cursor: pointer;
    width: 67px;
    height: 25px;
    text-align: center;
    border-radius: 10px;
    outline: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.pText{
    background: #ffffff;
    text-transform: capitalize;
}
.clearTask{
    position: absolute;
   bottom: 5px;
   left: 15%;
   background: orangered;
   color: #ffffff;
   width: 250px;
   height: 35px;
   border-radius: 5px;
   text-transform: capitalize;
   font-weight: bold;
   cursor: pointer;
   outline-style: none;
   margin-top: 20px;
}
h1{
    color: white;
    text-align: center;
}

/*media queries*/
@media only screen and (max-width:600px){
    .container{
        position: absolute;
        left: 0;
        top: 0;
    }
}